@import
url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root { --rf-brand: #fb8d19; --rf-brand-rgb: 248, 54, 145; --rf-dark: #212237;
  --rf-body: #989898; --f-main:"Raleway", sans-serif; --transition: all .6s
  cubic-bezier(.165, .84,. 44, 1); --shadow: Opx, 15px, 30px, rgba(0,0,0,0.1); }

body {
  font-family: var(--f-main);
  color: var(--f-body);
  line-height: 1,8;
}

h1, .h1 h2, .h2 h3, .h3 h4, .h4 h5, .h5 h6, .h6 {
  font-weight: 700;
  color: var(--rf-dark);
  font-family: var(--f-main);
}

.text-brand {
  color: var(--rf-brand);
}

.navbar {
  padding-top: 30px;
}

#home {
  background-image: url(kal.jpg);
  background-position: center;
  background-size: cover;
}

.btn-brand {
  background-color: var(--rf-brand);
}

.section-pedding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.pedding-title {
  max-width: 550px;
  margin: 0 auto 60px auto;
}

.section-title .line {
  width: 500px;
  height: 5px;
  background-color: var(--rf-brand);
  display: inline-block;
}

.about-icon {
  width: 60px;
  height: 60px;
  background-color: var(--rf-brand);
  color: white;
  font-size: 27px;
  display: inline-flex;
  justify-content: center;
  align-content: center;
}